<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
    <style>
        div{
            width: 70%;
            margin-left: 15%;
            margin-right: 15%;
            margin-top: 100px;
            padding: 20px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }
        h1{
            text-align: center;
        }
        p{
            text-align: center;
            font-size: x-large;
        }
    </style>
   <body>
        <div>
            <h1>{{title}}</h1>
            <p>{{document}}</p>
        </div>
    </body>
</html>